@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
  font-weight: 600;
}
iframe {
  top: 0;
  left: 0;
}
