.map-wrapper {
  background-color: #191919;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.map {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}
.marker {
  position: absolute;
  width: 20px;
  top: 42%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .map-wrapper {
    padding-top: 64px;
  }
  .marker {
    position: absolute;
    width: 20px;
    top: 49%;
  }
}
@media screen and (max-width: 767px) {
  .map-wrapper {
    padding-top: 60px;
  }
  .map {
    height: 35vh;
  }
  .marker {
    position: absolute;
    width: 15px;
    top: 50%;
  }
}
