.end {
  background-color: #191919;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer-text {
  color: white;
  font-size: 1.2vw;
}
#footer-fraction-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  .footer-company-title {
    color: white;
    font-size: 1.2vw;
  }
  .adresse {
    margin: 3vw 0vw 1.7vw 0vw;
  }
}

#footer-fraction-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .social-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.vimeo {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}
.behance {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}
.linkedin {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}
.xing {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}
.cta {
  text-align: center;
  margin-bottom: 2vw;
}
#footer-fraction-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 3vw 0vw 0vw 0vw;
}

.footer {
  width: 75%;
  .footer-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
