@media screen and (max-width: 767px) {
  .end {
    background-color: #191919;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .footer-text {
    color: white;
    font-size: 18px;
    text-align: center;
  }
  #footer-fraction-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .footer-company-title {
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
    .adresse {
      margin: 0px 0px 10px 0px;
    }
    .country {
      margin: 12px 0px 12px 0px;
    }
  }

  #footer-fraction-middle {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    .social-icons-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .vimeo {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .behance {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .linkedin {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .xing {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .cta {
    text-align: center;
    margin: 10px 0px 0px 0px;
  }
  #footer-fraction-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }

  .footer {
    width: 100%;
    .footer-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
