@media screen and (max-width: 767px) {
  .gallery-arrow {
    display: none;
  }
  .gecko {
    height: 65vw;
    background-image: url("../img-hauptseite/audi-gecko.jpg");
    margin-top: 40px;
    padding: 0vw 0vw 12vw 0vw;
    .gecko-background-h1 {
      font-size: 16px;
      font-weight: 400;
      color: #464646;
      text-align: center;
      text-shadow: 2px 2px 15px white, 2px 2px 20px white, 2px 2px 15px white,
        2px 2px 20px white, 2px 2px 35px white, 2px 2px 35px white,
        2px 2px 20px white, 2px 2px 35px white, 2px 2px 35px white;
      span {
        font-weight: 700;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .gecko {
    grid-column: 1/1;
    width: 100vw;
  }

  .design {
    grid-column: 1/1;
    order: 3;
    grid-row: auto;
    width: 100vw;
    height: 50vw;
    background-size: 100%;
    background-position-y: top;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: design-slide-in-v2;
    animation-name: design-slide-in-v2;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }

  .visualisierung {
    grid-column: 1/1;
    order: 2;
    width: 100vw;
    height: 50vw;
    grid-row: auto;
    background-position-y: top;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: visualisierung-slide-in-v2;
    animation-name: visualisierung-slide-in-v2;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
  }

  .extended-reality {
    grid-column: 1/1;
    order: 4;
    width: 100vw;
    height: 50vw;
    grid-row: auto;
    background-size: 100%;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: extended-reality-slide-in-v2;
    animation-name: extended-reality-slide-in-v2;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
  }

  .animation {
    grid-column: 1/1;
    order: 1;
    width: 100vw;
    height: 50vw;
    grid-row: auto;
    background-size: 100%;
    background-position-y: 20%;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: animation-slide-in-v2;
    animation-name: animation-slide-in-v2;
    animation-duration: 0.5s;

    animation-fill-mode: both;
  }

  .design:hover {
    background-size: 110%;
  }

  .animation:hover {
    background-size: 110%;
  }

  .h2-property-background-img {
    font-size: 18px;
  }

  .text-gray {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    .text-gray-wrapper {
      .text-gray-wrapper-h3 {
        display: none;
      }
      .text-gray-wrapper-h3-mobile {
        display: block;
        color: white;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
      }
    }
  }

  .text-gray > .text-gray-wrapper > .text-gray-wrapper-h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .text-white .text-white-wrappper .text-white-wrappper-h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .text-white {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    .text-white-wrappper {
      .text-white-wrappper-h3 {
        display: none;
      }
      .text-white-wrappper-h3-mobile {
        display: block;
        color: #464646;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
      }
    }
  }
  .section-home-video {
    .section-home-video-wrapper {
      object-fit: cover;
      height: auto;
      .home-video {
        display: none;
      }
      .home-video-mobile {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
