//arrow
.gallery-arrow {
  grid-column: 1/5;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4vw;
  .gallery-arrow-img {
    position: absolute;
    height: 2.7vw;
  }
}
//Bildergalerie mit Text
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.gecko {
  grid-column: 1/5;
  grid-row: 1/2;
  background-image: url("../img-hauptseite/Layer\ 47.png");
  height: 37.5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(253, 253, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  .gecko-background-h1 {
    font-size: 2.2vw;
    font-weight: 400;
    color: #464646;
    text-align: center;
    text-shadow: 2px 2px 35px white, 2px 2px 20px white, 2px 2px 35px white,
      2px 2px 35px white, 2px 2px 35px white, 2px 2px 35px white,
      2px 2px 35px white, 2px 2px 35px white, 2px 2px 20px white,
      2px 2px 35px white, 2px 2px 35px white, 2px 2px 35px white,
      2px 2px 35px white, 2px 2px 35px white, 2px 2px 35px white,
      2px 2px 20px white, 2px 2px 35px white, 2px 2px 35px white;
    span {
      font-weight: 600;
    }
  }
}
.design {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url("../img-hauptseite/Layer\ 51.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.8vw 0vw 0vw 3.5vw;
  -webkit-animation: design-slide-in-v2;
  animation-name: design-slide-in-v2;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  transition: background-size 200ms ease;
}

.visualisierung {
  grid-column: 3/5;
  grid-row: 2/4;
  background-image: url("../img-hauptseite/Layer\ 53.png");
  height: 49vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.8vw;
  transition: background-size 200ms ease;
  -webkit-animation: visualisierung-slide-in-v2;
  animation-name: visualisierung-slide-in-v2;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}
.animation {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url("../img-hauptseite/Layer\ 52.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4vw;
  -webkit-animation: animation-slide-in-v2;
  animation-name: animation-slide-in-v2;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  transition: background-size 200ms ease;
}
.extended-reality {
  grid-column: 1/3;
  grid-row: 3/4;
  background-image: url("../img-hauptseite/Layer\ 50.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3vw;
  -webkit-animation: extended-reality-slide-in-v2;
  animation-name: extended-reality-slide-in-v2;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  transition: background-size 200ms ease;
}
.h2-property-background-img {
  display: inline-block;
  font-weight: 600;
  color: white;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.7);
}
.design:hover {
  background-size: auto 110%;
}
.visualisierung:hover {
  background-size: 110%;
}
.animation:hover {
  background-size: auto 110%;
}
.extended-reality:hover {
  background-size: 110%;
}
.navbar-mobile {
  display: none;
}
//Section Text grau
.text-gray {
  height: 25vw;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  .text-gray-wrapper {
    .text-gray-wrapper-h3 {
      color: white;
      font-size: 2.2vw;
      text-align: center;
      font-weight: 400;
    }
  }
}
//Section Auto-Pferd
.section-home-video {
  .section-home-video-wrapper {
    object-fit: cover;
    height: 25vw;
    .home-video {
      width: 100%;
    }
  }
}
//Section text weiss
.text-white {
  height: 25vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .text-white-wrappper {
    .text-white-wrappper-h3 {
      color: #464646;
      font-size: 2.2vw;
      text-align: center;
      font-weight: 300;
    }
  }
}
