.imprint-full {
  background-color: #191919;
}
.imprint-wrapper {
  width: 70%;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 40px;
  background-color: #191919;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
