.imprint-full {
  background-color: #191919;
}
.imprint-wrapper {
  width: 62%;
  margin-left: 25%;
  padding-top: 150px;
  padding-bottom: 40px;
  background-color: #191919;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  font-size: 0.93vw;
  line-height: 1.5vw;
  h2 {
    margin-bottom: 3vh;
  }
  h3 {
    margin-bottom: 2vh;
  }
}
@media screen and (max-width: 1024px) {
  .imprint-wrapper {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: #191919;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .imprint-wrapper {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: #191919;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    font-size: 3.8vw;
    line-height: 5.5vw;
  }
}
