.Navigationsleiste {
  display: flex;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.navbar {
  width: 55%;
  padding-top: 15px;
  padding-bottom: 12.5px;
  padding-left: 50px;
  padding-right: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav-links {
    display: flex;
    align-items: center;
    .burgermenu {
      width: auto;
      height: 17px;
      margin-top: 5px;
      margin-right: 25px;
    }
    .logo {
      width: 165px;
      padding-top: 5px;
    }
  }
  //
  .nav-mitte {
    display: flex;
    white-space: nowrap;
    margin-top: 4px;
    .nav-li {
      display: inline-block;
      font-size: 14px;
      margin: 0px 15px;
      .andereFarbe {
        color: rgb(153, 153, 153);
        display: inline-block;
      }
    }
  }
}
.sprachenRechts {
  width: 48%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .spracheDE {
    font-size: 15px;
    color: rgb(153, 153, 153);
    padding: 0px 12px;
  }
  .Trennung {
    height: 13px;
    width: 2px;
    background-color: rgb(153, 153, 153);
  }
  .spracheEN {
    font-size: 15px;
    color: rgb(153, 153, 153);
    padding: 0px 30px 0px 12px;
  }
}
