@media screen and (max-width: 767px) {
  .navigation {
    display: flex;
    position: absolute;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
    //Linker Bereich der Navbar
    .navbar {
      min-width: 100vw;
      padding: 20px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navbar-left {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        .navbar-left-menu-img {
          max-width: 100%;
          height: 15px;
        }
        .navbar-left-logo-img {
          max-width: 100%;
          height: 15px;
        }
      }
      //Rechter Bereich der Navigation
      .navbar-right-ul {
        display: none;
      }
    }
    //Rechter Bereich der Navbar
    .navigations-languages {
      display: none;
    }
  }
}
