@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
  font-weight: 600;
}

iframe {
  top: 0;
  left: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .navbar {
  min-width: 55vw;
  padding: 1vw 0.1vw 0.7vw 2.4vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navbar .navbar-left .navbar-left-menu-img {
  max-width: 100%;
  height: 0.93vw;
  margin-right: 1.2vw;
}

.navigation .navbar .navbar-left .navbar-left-logo-img {
  max-width: 100%;
  height: 0.93vw;
}

.navigation .navbar .navbar-right-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.navigation .navbar .navbar-right-ul .nav-right-element {
  display: inline-block;
  font-size: 0.77vw;
  margin: 0vw 0.7vw;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.navigation .navbar .navbar-right-ul .nav-right-element .andere-farbe {
  color: #999999;
  display: inline-block;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.navigation .andere-farbe:hover {
  color: #464646 !important;
}

.navigation .navigations-languages {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation .navigations-languages .navigations-languages-left {
  font-size: 0.78vw;
  color: black;
  padding: 0vw 0.7vw;
  font-weight: 600;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
}

.navigation .navigations-languages .navigations-languages-seperator {
  height: 0.6vw;
  width: 0.1vw;
  background-color: #999999;
}

.navigation .navigations-languages .navigations-languages-right {
  font-size: 0.78vw;
  color: #999999;
  padding: 0vw 2vw 0vw 0.7vw;
  font-weight: 600;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
}

.navigations-languages-left:hover {
  color: #464646 !important;
}

.navigations-languages-right:hover {
  color: #464646 !important;
}

/*Responsive Design*/
body::-webkit-scrollbar {
  width: 14px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #141618;
  /* color of the tracking area */
  scrollbar-width: auto;
}

.osano-cm-widget {
  display: none;
}

body::-webkit-scrollbar-thumb {
  scrollbar-width: auto;
  background-color: gray;
  /* color of the scroll thumb */
  border-radius: 0px;
  /* roundness of the scroll thumb */
  border: 3px solid #141618;
  /* creates padding around scroll thumb */
}

.gallery-arrow {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4vw;
  position: relative;
  z-index: 5;
  -webkit-animation: arrow-show;
  -webkit-animation-name: arrow-show;
          animation-name: arrow-show;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.gallery-arrow .gallery-arrow-img {
  position: absolute;
  height: 2.7vw;
  -webkit-animation-name: arrow-up-down;
          animation-name: arrow-up-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #191919;
}

.gecko {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("/raum7/img-hauptseite/geckoo.jpg");
  height: 39.5vw;
  background-position: 0% 37%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.gecko .gecko-background-h1 {
  font-size: 2.2vw;
  font-weight: 400;
  font-family: "Montserrat-Light";
  color: #464646;
  text-align: center;
  position: absolute;
  z-index: 99;
}

.gecko .gecko-background-h1 span {
  font-weight: 600;
  font-family: "Montserrat-Bold";
}

.gecko .gecko-background-h1-mobile {
  display: none;
}

.gecko img {
  position: absolute;
  width: 60vw;
  height: 20vw;
}

.design {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-design_cno5co.webp");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.8vw 0vw 0vw 3.5vw;
  -webkit-transition: background-size 700ms ease;
  transition: background-size 700ms ease;
}

.visualisierung {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-visualisierung_uejx8n.webp");
  height: 49vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.8vw;
  -webkit-transition: background-size 700ms ease;
  transition: background-size 700ms ease;
}

.animation {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-animation_vuscyo.webp");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4vw;
  -webkit-transition: background-size 700ms ease;
  transition: background-size 700ms ease;
}

.extended-reality {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-reality_xfjgjk.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3vw;
  -webkit-transition: background-size 700ms ease;
  transition: background-size 700ms ease;
}

.h2-property-background-img {
  display: inline-block;
  font-weight: 600;
  font-family: "Montserrat-Bold";
  color: white;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 5px;
}

.design:hover {
  background-size: auto 110%;
}

.visualisierung:hover {
  background-size: 110%;
}

.animation:hover {
  background-size: auto 110%;
}

.extended-reality:hover {
  background-size: 110%;
}

.navbar-mobile {
  display: none;
}

.text-gray {
  height: 25vw;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-gray .text-gray-wrapper .text-gray-wrapper-h3 {
  color: white;
  font-size: 2.2vw;
  text-align: center;
  font-weight: 300;
  font-family: "Montserrat-Light";
}

.text-gray .text-gray-wrapper .text-gray-wrapper-h3-mobile {
  display: none;
}

.section-home-video .section-home-video-wrapper {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25vw;
}

.section-home-video .section-home-video-wrapper .home-video {
  width: 100%;
}

.section-home-video .section-home-video-wrapper .home-video-mobile {
  display: none;
}

.section-home-video .section-home-video-wrapper .playbutton {
  display: none;
}

.text-white {
  height: 25vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-white .text-white-wrappper .text-white-wrappper-h3 {
  color: #464646;
  font-size: 2.2vw;
  text-align: center;
  font-weight: 300;
  font-family: "Montserrat-Light";
}

.text-white .text-white-wrappper .text-white-wrappper-h3-mobile {
  display: none;
}

.ccm-modal--body {
  font-family: Montserrat !important;
  background-color: #464646 !important;
}

.ccm-inner-overflow {
  color: white !important;
}

.cover-scrollbar::before {
  background-color: #464646 !important;
}

.ccm-widget--text::after {
  background-image: none !important;
}

.ccm-widget--language-switch > select {
  font-family: Montserrat !important;
  color: white !important;
}

.ccm-modal--footer {
  background-color: #464646 !important;
  color: white !important;
}

.ccm-widget--language-switch > select:hover {
  color: white !important;
}

.ccm-root .button.ccm--button-primary,
.ccm-root button.ccm--button-primary {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: Montserrat !important;
  color: #ffffff !important;
  background-color: #2c8e27 !important;
  border-color: #2c8e27 !important;
}

.ccm-link-container {
  color: white !important;
}

.button {
  font-family: Montserrat !important;
  color: #464646 !important;
}

.ccm-modal--footer .ccm-link-container a:link {
  color: white !important;
}

.ccm-root .ccm-widget--buttons button {
  font-family: Montserrat !important;
  background-color: #605e5e !important;
  border-color: #605e5e !important;
  color: #ffffff !important;
  text-transform: none !important;
}

.ccm-modal--header {
  background-color: #464646 !important;
  color: white !important;
}

.ccm-purpose-a717ff {
  color: white !important;
}

.ccm-control-panel--purpose--description {
  color: white !important;
}

.ccm-widget--buttons button {
  text-shadow: none !important;
}

label {
  color: white !important;
}

.end {
  background-color: #191919;
  height: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-text {
  color: white;
  font-size: 1.2vw;
}

#footer-fraction-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer-fraction-left .footer-company-title {
  color: white;
  font-size: 1.2vw;
  padding-top: 1vw;
}

#footer-fraction-left .adresse {
  margin: 3vw 0vw 1.7vw 0vw;
}

#footer-fraction-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer-fraction-middle .social-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.vimeo {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}

.behance {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}

.linkedin {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}

.xing {
  height: 2.3vw;
  width: auto;
  margin: 0vw 0.5vw;
}

.cta {
  text-align: center;
  margin-bottom: 2vw;
}

#footer-fraction-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5vw 0vw 0vw 0vw;
}

.footer {
  width: 75%;
}

.footer .footer-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .gecko {
    margin-top: 64px;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .navbar {
    min-width: 100vw;
    padding: 0px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .navbar .navbar-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .navbar .navbar-left .navbar-left-menu-img {
    max-width: 100%;
    height: 20px;
    margin: 20px 40px 20px 20px;
  }
  .navigation .navbar .navbar-left .navbar-left-logo-img {
    max-width: 100%;
    height: 20px;
    margin: 20px 20px 20px 40px;
  }
  .navigation .navbar .navbar-right-ul {
    display: none;
  }
  .navigation .navigations-languages {
    display: none;
  }
  .gallery-arrow {
    display: none;
  }
  .navigation > .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar-mobile {
    -ms-flex-preferred-size: 100vw;
        flex-basis: 100vw;
    background-color: white;
    width: 100vw;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .li-nav-burger-home {
    border-top: 1px solid #999999;
  }
  .nav-mobile-element {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999999;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-mobile-element a {
    color: #999999;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body::-webkit-scrollbar {
    display: none;
  }
  .gallery-arrow {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 100vw;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .navbar .navbar-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .navbar .navbar-left .navbar-left-menu-img {
    max-width: 100%;
    height: 20px;
    margin: 20px 20px 17px 20px;
  }
  .navigation .navbar .navbar-left .navbar-left-logo-img {
    max-width: 100%;
    height: 20px;
    margin: 20px 40px 17px 20px;
  }
  .navigation .navbar .navbar-right-ul {
    display: none;
  }
  .navigation .navigations-languages {
    display: none;
  }
  .navbar-mobile {
    -ms-flex-preferred-size: 100vw;
        flex-basis: 100vw;
    background-color: white;
    width: 100vw;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .li-nav-burger-home {
    border-top: 1px solid #999999;
  }
  .nav-mobile-element {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999999;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  body::-webkit-scrollbar {
    display: none;
  }
  #visual-video:target {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
  }
  #design-video:target {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
  }
  #reality-video:target {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
  }
  .gecko {
    height: 85vw;
    background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home/Gecko_nyttw9.webp");
    background-size: 100%;
    background-position: 0% 0%;
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding: 0vw !important;
  }
  .gecko .gecko-background-h1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #464646;
    text-align: center;
  }
  .gecko .gecko-background-h1 span {
    font-weight: 700;
  }
  .gecko img {
    margin-bottom: 60px;
    height: 30vw;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .gecko {
    -ms-grid-column: 1;
    grid-column: 1/1;
    width: 100vw;
    padding: 0px;
  }
  .gecko .gecko-background-h1 {
    display: none;
  }
  .gecko .gecko-background-h1-mobile {
    display: block;
    font-size: 4.5vw;
    font-weight: 400;
    color: #464646;
    text-align: center;
    position: absolute;
    z-index: 99;
    padding-bottom: 40px;
  }
  .gecko .gecko-background-h1-mobile span {
    display: block;
    font-weight: 600;
  }
  .design {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    grid-row: auto;
    width: 100vw;
    height: 50vw;
    background-size: 100%;
    background-position-y: top;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: design-slide-in-v2;
    -webkit-animation-name: design-slide-in-v2;
            animation-name: design-slide-in-v2;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .visualisierung {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100vw;
    height: 50vw;
    grid-row: auto;
    background-position-y: top;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: visualisierung-slide-in-v2;
    -webkit-animation-name: visualisierung-slide-in-v2;
            animation-name: visualisierung-slide-in-v2;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .extended-reality {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100vw;
    height: 50vw;
    grid-row: auto;
    background-size: 100%;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: extended-reality-slide-in-v2;
    -webkit-animation-name: extended-reality-slide-in-v2;
            animation-name: extended-reality-slide-in-v2;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .animation {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100vw;
    height: 50vw;
    grid-row: auto;
    background-size: 100%;
    background-position-y: 20%;
    padding: 5vw 0vw 0vw 5vw;
    -webkit-animation: animation-slide-in-v2;
    -webkit-animation-name: animation-slide-in-v2;
            animation-name: animation-slide-in-v2;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .design:hover {
    background-size: 110%;
  }
  .animation:hover {
    background-size: 110%;
  }
  .h2-property-background-img {
    font-size: 18px;
  }
  .text-gray {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .text-gray .text-gray-wrapper .text-gray-wrapper-h3 {
    display: none;
  }
  .text-gray .text-gray-wrapper .text-gray-wrapper-h3-mobile {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .text-gray > .text-gray-wrapper > .text-gray-wrapper-h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .text-white .text-white-wrappper .text-white-wrappper-h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .text-white {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .text-white .text-white-wrappper .text-white-wrappper-h3 {
    display: none;
  }
  .text-white .text-white-wrappper .text-white-wrappper-h3-mobile {
    display: block;
    color: #464646;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .section-home-video .section-home-video-wrapper {
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    position: relative;
  }
  .section-home-video .section-home-video-wrapper .home-video {
    display: none;
  }
  .section-home-video .section-home-video-wrapper .home-video-mobile {
    display: inline-block;
    width: 100%;
  }
  .section-home-video .section-home-video-wrapper .playbutton {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    height: 60px;
  }
}

@-webkit-keyframes visualisierung-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes visualisierung-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes design-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes design-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes animation-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animation-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes extended-reality-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes extended-reality-slide-in-v2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes arrow-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrow-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .end {
    background-color: #191919;
    height: 400px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-text {
    color: white;
    font-size: 18px;
    text-align: center;
  }
  #footer-fraction-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer-fraction-left .footer-company-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  #footer-fraction-left .adresse {
    margin: 0px 0px 10px 0px;
  }
  #footer-fraction-left .country {
    margin: 12px 0px 12px 0px;
  }
  #footer-fraction-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footer-fraction-middle .social-icons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .vimeo {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .behance {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .linkedin {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .xing {
    height: 45px;
    width: auto;
    margin: 25px 6px;
  }
  .cta {
    text-align: center;
    margin: 10px 0px 0px 0px;
  }
  #footer-fraction-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 0px 0px;
  }
  .footer {
    width: 100%;
  }
  .footer .footer-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.ourwork-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

/*Erste Section*/
.kia {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.cosmoto {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.nissan {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.audi {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

/*Zweite Section*/
.xiao {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.corpuls {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

/*Dritte Section*/
.erdmaennchen {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.cafemaschine {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.light-gallery-gecko-wrapper {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

.metallleopard {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
}

.auto {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.animal {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
}

.bmw {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.light-gallery-vw-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11/13;
}

.frau-im-auto {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.iceage {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.our-work-gallery-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.extra {
  position: relative;
}

.our-work-gallery-wrapper-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.92vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 15%;
  left: 15%;
  padding: 2px 5px;
}

.extra-position-nissan-corpuls {
  bottom: 15%;
  left: 7%;
}

.extra-position-xiao-audi {
  bottom: 7%;
  left: 7%;
}

.our-work-gallery-wrapper > img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our-work-gallery-wrapper {
  overflow: hidden;
}

.kia-second {
  display: none;
}

.kia-third {
  display: none;
}

.kia-four {
  display: none;
}

.kia-five {
  display: none;
}

.gecko-second {
  display: none;
}

.gecko-third {
  display: none;
}

.gecko-four {
  display: none;
}

.gecko-five {
  display: none;
}

.maschine-second {
  display: none;
}

.maschine-third {
  display: none;
}

.maschine-four {
  display: none;
}

.vw-second {
  display: none;
}

.cafemaschine-second {
  display: none;
}

.cafemaschine-third {
  display: none;
}

.cafemaschine-four {
  display: none;
}

.cafemaschine-five {
  display: none;
}

.cafemaschine-six {
  display: none;
}

.light-gallery-cafe {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

div.lg-backdrop.in {
  background-color: rgba(0, 0, 0, 0.95);
}

.lg-toolbar {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.lg-video-cont {
  width: 80% !important;
  max-width: none !important;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.scroll-in-fade-in {
  -webkit-animation: fade-in;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes arrow-up-down {
  from {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-25px);
            transform: translatey(-25px);
  }
}

@keyframes arrow-up-down {
  from {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-25px);
            transform: translatey(-25px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .kia {
    margin-top: 64px;
  }
  .cosmoto {
    margin-top: 64px;
  }
  .audi {
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .ourwork-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  /*Erste Section*/
  .kia {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .cosmoto {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .nissan {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .audi {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  /*Zweite Section*/
  .xiao {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .seguros {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .corpuls {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .audi-formeleins {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  /*Dritte Section*/
  .erdmaennchen {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .light-gallery-gecko-wrapper {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .metallleopard {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .auto {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .animal {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .bmw {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .mann-der-laechelt {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .light-gallery-lexus-wrapper {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .light-gallery-cafe {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .haehnchen {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .mann-mit-essen {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .light-gallery-vw-wrapper {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .frau-im-auto {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .iceage {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto;
  }
  .our-work-gallery-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    display: block;
    -webkit-transition: -webkit-transform 700ms ease;
    transition: -webkit-transform 700ms ease;
    transition: transform 700ms ease;
    transition: transform 700ms ease, -webkit-transform 700ms ease;
  }
  .extra {
    position: relative;
  }
  .our-work-gallery-wrapper-h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 15%;
    left: 15%;
    padding: 2px 5px;
  }
  .extra-position-nissan-corpuls {
    bottom: 15%;
    left: 7%;
  }
  .extra-position-xiao-audi {
    bottom: 9%;
    left: 7%;
  }
  .our-work-gallery-wrapper > img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .our-work-gallery-wrapper {
    overflow: hidden;
  }
  .kia-second {
    display: none;
  }
  .kia-third {
    display: none;
  }
  .kia-four {
    display: none;
  }
  .kia-five {
    display: none;
  }
  .gecko-second {
    display: none;
  }
  .gecko-third {
    display: none;
  }
  .gecko-four {
    display: none;
  }
  .gecko-five {
    display: none;
  }
  .maschine-second {
    display: none;
  }
  .maschine-third {
    display: none;
  }
  .maschine-four {
    display: none;
  }
  .vw-second {
    display: none;
  }
  .cafemaschine-second {
    display: none;
  }
  .cafemaschine-third {
    display: none;
  }
  .cafemaschine-four {
    display: none;
  }
  .cafemaschine-five {
    display: none;
  }
  .cafemaschine-six {
    display: none;
  }
  .mobile-our-work {
    bottom: 8%;
    left: 7%;
  }
  .lg-video-cont {
    width: 100% !important;
    max-width: none !important;
  }
}

@media screen and (min-width: 667px) and (max-width: 1024px) {
  .lg-video-cont > .lg-video {
    width: 80% !important;
    -webkit-transform: translateX(12.5%);
            transform: translateX(12.5%);
  }
}

.what-we-do-section {
  height: 31vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.what-we-do-first-section-wrapper {
  width: 49.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 7vw;
}

.what-we-do-first-section-wrapper-h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.what-we-do-first-section-wrapper-paragraph-first {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.what-we-do-first-section-wrapper-paragraph-second {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.h2-what-we-do {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.2vw;
  color: #464646;
}

.h3-what-we-do {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.2vw;
  color: #464646;
  margin-bottom: 1vw;
}

.p-what-we-do {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.93vw;
  line-height: 1.5vw;
  white-space: nowrap;
  color: black;
}

.p-margin-right {
  margin-right: 3.7vw;
}

.section-home-video .section-home-video-wrapper-black {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25vw;
  background-color: #191919;
}

.section-home-video .section-home-video-wrapper-black .home-video {
  width: 100%;
}

.section-home-video .section-home-video-wrapper-black .home-video-mobile {
  display: none;
}

.section-home-video .section-home-video-wrapper-black .playbutton {
  display: none;
}

.what-we-do-section-black {
  height: 31vw;
  width: 100%;
  background-color: #191919;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white {
  color: white;
}

.what-we-do-first-section-wrapper-mobile-white-first {
  display: none;
}

.what-we-do-first-section-wrapper-mobile-white-second {
  display: none;
}

.wrapper-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-reverse-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #191919;
}

.section-home-video-wrapper-white-mobile {
  display: none;
}

.section-home-video-wrapper-black-mobile {
  display: none;
}

.margin-bottom {
  display: none;
}

video[poster] {
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 767px) {
  .wrapper-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .wrapper-reverse-black {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: #191919;
  }
  .what-we-do-section {
    height: auto;
    width: 100%;
    margin: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 100px;
  }
  .what-we-do-first-section-wrapper {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 0px;
  }
  .what-we-do-first-section-wrapper-h2 {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .what-we-do-first-section-wrapper-h3 {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .what-we-do-first-section-wrapper-paragraph-first {
    display: none;
  }
  .what-we-do-first-section-wrapper-paragraph-second {
    display: none;
  }
  .section-home-video-wrapper-black {
    display: none;
  }
  .section-home-video-wrapper {
    display: none;
  }
  .h2-what-we-do {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 5.5vw;
    color: #464646;
    margin-top: 40px;
  }
  .h3-what-we-do {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 5vw;
    color: #464646;
    margin-bottom: 40px;
  }
  .p-margin-right {
    margin-right: 0px;
  }
  .white {
    color: white;
  }
  .margin-bottom {
    margin-bottom: 50px;
  }
  .margin-top {
    margin-top: 102px;
  }
  .what-we-do-section-black {
    height: auto;
    width: 100%;
    background-color: #191919;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 100px;
  }
  .what-we-do-first-section-wrapper-mobile-white-first {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 3.8vw;
    margin-bottom: 40px;
    white-space: nowrap;
    line-height: 5.5vw;
  }
  .what-we-do-first-section-wrapper-mobile-white-second {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 3.8vw;
    white-space: nowrap;
    line-height: 5.5vw;
  }
  .section-home-video .section-home-video-wrapper-white-mobile {
    display: block;
    position: relative;
    padding-bottom: 45.5%;
    padding-top: 5%;
    height: 0;
    overflow: hidden;
  }
  .section-home-video .section-home-video-wrapper-white-mobile .iframe-mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -9px;
    padding: 0px;
  }
  .section-home-video .section-home-video-wrapper-white-mobile .home-video {
    display: none;
  }
  .section-home-video .section-home-video-wrapper-black-mobile {
    display: block;
    position: relative;
    padding-bottom: 45.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    background-color: #191919;
  }
  .section-home-video .section-home-video-wrapper-black-mobile .iframe-mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -15px;
    padding: 0px;
  }
  .section-home-video .section-home-video-wrapper-black-mobile .home-video {
    display: none;
  }
  .abstand-zum-video {
    height: 102px;
    background-color: #191919;
  }
}

.map-wrapper {
  background-color: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.map {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.marker {
  position: absolute;
  width: 20px;
  top: 42%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .map-wrapper {
    padding-top: 64px;
  }
  .marker {
    position: absolute;
    width: 20px;
    top: 49%;
  }
}

@media screen and (max-width: 767px) {
  .map-wrapper {
    padding-top: 60px;
  }
  .map {
    height: 65vh;
  }
  .marker {
    position: absolute;
    width: 15px;
    top: 50%;
  }
}

.imprint-full {
  background-color: #191919;
}

.imprint-wrapper {
  width: 62%;
  margin-left: 25%;
  padding-top: 150px;
  padding-bottom: 40px;
  background-color: #191919;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-size: 0.93vw;
  line-height: 1.5vw;
}

.imprint-wrapper h2 {
  margin-bottom: 3vh;
}

.imprint-wrapper h3 {
  margin-bottom: 2vh;
}

@media screen and (max-width: 1024px) {
  .imprint-wrapper {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: #191919;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .imprint-wrapper {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: #191919;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    font-size: 3.8vw;
    line-height: 5.5vw;
  }
}

@media screen and (min-width: 3000px) {
  body::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #141618;
    /* color of the tracking area */
    scrollbar-width: auto;
  }
  .osano-cm-widget {
    display: none;
  }
  body::-webkit-scrollbar-thumb {
    scrollbar-width: auto;
    background-color: gray;
    /* color of the scroll thumb */
    border-radius: 0px;
    /* roundness of the scroll thumb */
    border: 3px solid #141618;
    /* creates padding around scroll thumb */
  }
  .gallery-arrow {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 4vw;
    position: relative;
    z-index: 5;
    -webkit-animation: arrow-show;
    -webkit-animation-name: arrow-show;
            animation-name: arrow-show;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .gallery-arrow .gallery-arrow-img {
    position: absolute;
    height: 2.7vw;
    -webkit-animation-name: arrow-up-down;
            animation-name: arrow-up-down;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-color: #191919;
  }
  .gecko {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-image: url("/raum7/img-hauptseite/geckoo.jpg");
    height: 66vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 37%;
    background-color: #fdfdfd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .gecko .gecko-background-h1 {
    font-size: 2.2vw;
    font-weight: 400;
    color: #464646;
    text-align: center;
    position: absolute;
    z-index: 99;
  }
  .gecko .gecko-background-h1 span {
    font-weight: 600;
  }
  .gecko .gecko-background-h1-mobile {
    display: none;
  }
  .gecko img {
    position: absolute;
    width: 60vw;
    height: 20vw;
  }
  .design {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-design_cno5co.webp");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3.8vw 0vw 0vw 3.5vw;
    -webkit-transition: background-size 700ms ease;
    transition: background-size 700ms ease;
  }
  .visualisierung {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-visualisierung_uejx8n.webp");
    height: 49vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3.8vw;
    -webkit-transition: background-size 700ms ease;
    transition: background-size 700ms ease;
  }
  .animation {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-animation_vuscyo.webp");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4vw;
    -webkit-transition: background-size 700ms ease;
    transition: background-size 700ms ease;
  }
  .extended-reality {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url("https://res.cloudinary.com/wecreate4you/image/upload/f_auto/home%202/button-extended-reality_xfjgjk.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vw;
    -webkit-transition: background-size 700ms ease;
    transition: background-size 700ms ease;
  }
  .h2-property-background-img {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 5px;
  }
  .design:hover {
    background-size: auto 110%;
  }
  .visualisierung:hover {
    background-size: 110%;
  }
  .animation:hover {
    background-size: auto 110%;
  }
  .extended-reality:hover {
    background-size: 110%;
  }
  .navbar-mobile {
    display: none;
  }
  .text-gray {
    height: 25vw;
    background-color: #191919;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-gray .text-gray-wrapper .text-gray-wrapper-h3 {
    color: white;
    font-size: 2.2vw;
    text-align: center;
    font-weight: 300;
  }
  .text-gray .text-gray-wrapper .text-gray-wrapper-h3-mobile {
    display: none;
  }
  .section-home-video .section-home-video-wrapper {
    -o-object-fit: cover;
       object-fit: cover;
    height: 25vw;
  }
  .section-home-video .section-home-video-wrapper .home-video {
    width: 100%;
  }
  .section-home-video .section-home-video-wrapper .home-video-mobile {
    display: none;
  }
  .section-home-video .section-home-video-wrapper .playbutton {
    display: none;
  }
  .text-white {
    height: 25vw;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-white .text-white-wrappper .text-white-wrappper-h3 {
    color: #464646;
    font-size: 2.2vw;
    text-align: center;
    font-weight: 300;
  }
  .text-white .text-white-wrappper .text-white-wrappper-h3-mobile {
    display: none;
  }
}

.imprint-full {
  background-color: #191919;
}

.policy-wrapper {
  width: 62%;
  margin-left: 25%;
  padding-top: 150px;
  padding-bottom: 40px;
  background-color: #191919;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-size: 0.93vw;
  line-height: 1.5vw;
}

.policy-wrapper h2 {
  margin-top: 30px;
}

.policy-wrapper h3 {
  margin-top: 30px;
  margin-bottom: 2vh;
}

.policy-wrapper h4 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media screen and (max-width: 1024px) {
  .policy-wrapper {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: #191919;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .policy-wrapper {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: #191919;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    font-size: 3.8vw;
    line-height: 5.5vw;
  }
}
/*# sourceMappingURL=styles.css.map */